UUID : '0000f22e-0000-1000-8000-00805f9b34fb'
# START_TIME : ['01:19:16', '01:19:05', '01:18:54', '01:18:46', '01:18:36', '01:18:24', '01:18:16', '01:18:02']
# END_TIME : ['01:19:22', '01:19:09', '01:18:59', '01:18:51', '01:18:42', '01:18:29', '01:18:21', '01:18:08']
# LABEL_LIST : [0, 1, 2, 3, 4, 5, 6, 7]
START_TIME : ['01:18:02', '01:18:16', '01:18:24', '01:18:36', '01:18:46', '01:18:54', '01:19:05', '01:19:16']
END_TIME : ['01:18:08', '01:18:21', '01:18:29', '01:18:42', '01:18:51', '01:18:59', '01:19:09', '01:19:22']
LABEL_LIST : [7, 6, 5, 4, 3, 2, 1, 0]
BEFORE_DIR : './before/U19e_outdoor1201test1/'
AFTER_DIR : './after/U19e_outdoor1201test2/'
OUTPUT_DIR: 'output'
FILE : 'sniffer_'
FILE_TYPE : 'csv'
OUTPUT_NAME : 'U19e_outdoor1201test2'
AP_NUMS : 6
AP_NAME : ['zero', 'one', 'two', 'three', 'four', 'five']
TEST_NO_LABEL : false
TEST_VIDEO_PATH : './videos/1201test1.mp4'

MODEL :
  TYPE : 'LSTM'
  INIT_WEIGHTS : true
  #PRETRAINED : ''
  PRETRAINED : 'output/U19e_outdoor1201/checkpoint.pth'
  #PRETRAINED : 'output/sharp4025_test2/checkpoint.pth'

TRAIN :
  BATCH_SIZE : 32
  SHUFFLE : true
  BEGIN_EPOCH : 0
  END_EPOCH : 200
  OPTIMIZER : adam
  LR : 0.001
  LR_FACTOR : 0.1

TEST :
  #RSSI_LIST : [ [-42, -103], [-54, -96], [-55, -99], [-59, -96]] # U19e
  #RSSI_LIST : [ [-48, -103], [-52, -95], [-30, -97], [-48, -91]] # Sharp
  #RSSI_LIST : [ [-38, -96], [-31, -93], [-26, -93], [-29, -97]] # U19e outdoor1
  #RSSI_LIST : [ [-44, -95], [-28, -101], [-11, -97], [-28, -96]] # U19e outdoor2
  RSSI_LIST : [[-41, -98], [-30, -102], [-28, -101], [-28, -96], [-30, -98], [-33, -95]] # U19e outdoor3

